{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "plugins": ["prettier", "react", "jsx-a11y", "import"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "global-require": "off",
    "import/prefer-default-export": "off",
    "no-unused-expressions": ["error", { "allowTaggedTemplates": true }]
  }
}