.comment {
  display: flex;
  margin: 1rem 0 0;
}

.comment > .avatar {
  min-width: 2rem;
  max-height: 2rem;
  margin: 1rem;
}

.comment__content {
  background: #eee;
  color: #3E3E3E;
  padding: 1rem;
  border-radius: 1rem;
  text-align: justify;
}